:root {
    --color-bg: #fce2ff;
    --color-text: #201b10;
    --font-main: Roboto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
    font-family: var(--font-main);
}
